body{
  background-color: rgb(32, 32, 32);
}

.App{
  width: 30%;
  min-width: 400px;
  display: block;
  margin: auto;
  background-color:mediumaquamarine;
  margin-top: 15px;
  padding-top: 1px;
  padding-bottom: 15px;
}

h1{
  color: white;
  text-align: center;
}